.container {
	width: 100%;
}
.tabs {
	margin-bottom: 10px;
}
.main {
	display: flex;
	flex: 1;
	min-width: 0;
	width: 100%;
	margin-bottom: 20px;
}

.table {
	flex-grow: 0;
	flex-shrink: 0;
}

.returns {
	padding-left: 10px;
	flex-grow: 1;
}